<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supinfo.whereiscage">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".NormalMode" android:label="@string/normalMode"/>
        <activity android:name=".ChronoModeOne" android:label="@string/chronoModOne"/>
        <activity android:name=".ChronoModeTwo" android:label="@string/chronoModTwo"/>
        <activity android:name=".HallOfFame" android:label="@string/hallOfFame"/>

    </application>

</manifest>